@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Rajdhani:wght@500&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.sidebar {
  height: 100vh;
  width: 25vw;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: end;
}

.sidebar div {
  position: relative;
  padding: 4vh 5vw;
  border-radius: 50vw 0 0 50vw;
}

.sidebar a {
  color: black;
  text-decoration: none;
  font-family: "Audiowide";
  font-size: 2vmax;
}

.active {
  background-color: white;
}

.active::before {
  content: "";
  position: absolute;
  top: -5vh;
  right: 0;
  height: 5vh;
  aspect-ratio: 1/1;
  background-color: purple;
  border-radius: 0 0 50vw;
  box-shadow: 1px 1px 0 white, 8px 8px 0 white;
}

.active::after {
  content: "";
  position: absolute;
  bottom: -5vh;
  right: 0;
  height: 5vh;
  aspect-ratio: 1/1;
  background-color: purple;
  border-radius: 0 50vw 0 0;
  box-shadow: 1px -1px 0 white, 8px -8px 0 white;
}

.main-content {
  width: 75vw;
  padding: 0px 5vw;
  display: grid;
  place-items: center;
}

.main-content form {
  height: 100vh;
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content img {
  width: 10vw;
  margin: 3vh 0;
}

.main-content h1 {
  font-size: 3vmax;
  font-family: "Rajdhani", sans-serif;
  margin-bottom: 5vh;
}

.main-content div {
  border-bottom: 1px solid gray;
  padding: 2vh 2vw 2vh 0;
  margin: 2vh 0;
  color: gray;
}

.main-content input {
  border: none;
  height: 100%;
  width: 25vw;
  padding-left: 1vw;
  outline: none;
}

.main-content input::placeholder {
  color: gray;
}

#submitBtn {
  position: relative;
  margin: 4vh 0;
  padding: 2vh 2vw;
  align-self: self-end;
  font-family: "Audiowide", sans-serif;
  font-size: 1.5vmax;
  border: 1px solid purple;
  border-radius: 50vw;
  background: white;
  font-weight: 900;
  cursor: pointer;
  transition: all 600ms ease;
}

#submitBtn:hover{
  border-radius: 5px;
}