@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Rajdhani:wght@500&family=Raleway&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.redirectBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1vh 2vw;
  width: fit-content;
  font-size: 1.5vmax;
  background: purple;
  border: none;
  border-radius: 3px;
  font-family: "Audiowide", sans-serif;
  cursor: pointer;
  z-index: 1;
  overflow: hidden;
  border: 1px solid purple;
  text-decoration: none;
  color: white;
}

.redirectBtn::before {
  position: absolute;
  content: "";
  width: 0;
  aspect-ratio: 1 / 1;
  border-radius: 50vw;
  top: 50%;
  left: 50%;
  z-index: -1;
  background-color: white;
  transition: all 0.2s ease;
}

.redirectBtn:hover::before {
  top: -50%;
  left: -50%;
  width: 200%;
}

.redirectBtn:hover {
  color: purple;
}

form {
  border: 1px solid black;
  padding-bottom: 2vh;
  border-radius: 5px;
  overflow: hidden;
}

h1 {
  font-family: "Rajdhani", sans-serif;
  font-size: 4vmax;
  background-color: purple;
  padding: 2vh 4vw;
  margin-bottom: 2vh;
  color: white;
}

h4 {
  font-family: "Raleway", sans-serif;
  padding: 2vh 4vw;
  font-size: 1.5vmax;
}

input,
select,
#submitBtn {
  margin: 0 0 2vh 4vw;
  padding: 1vh 2vw;
  display: block;
  width: 70%;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.1vmax;
  font-weight: 800;
}

#submitBtn {
  width: fit-content;
  font-size: 1.5vmax;
  background: transparent;
  border: none;
  position: relative;
  border-radius: 3px;
  border: 1px solid purple;
  cursor: pointer;
  z-index: 1;
}

#submitBtn::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  z-index: -1;
  background-color: purple;
  transition: all 0.2s ease;
}

#submitBtn:hover::before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#submitBtn:hover{
  color: white;
}

option {
  font-weight: 800;
  color: purple;
  font-family: "Rajdhani", sans-serif;
}
