@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Rajdhani:wght@500&family=Raleway&display=swap");

*{
    margin: 0;
    padding: 0;
}

*::selection{
  background-color: purple;
  color: white;
}

*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: purple;
  border-radius: 3px;
  border-left: 1px solid black;
}

*::-webkit-scrollbar-track {
  background-color: lightblue;
  border-left: 1px solid black;
}

/* CODE FOR NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5vh 2vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: purple;
  position: sticky;
  top: 0;
  z-index: 9;
}

nav div{
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  font-family: "Rajdhani", sans-serif;
  font-weight: 900;
  margin-right: 5vw;
  font-size: 1.5vmax;
  padding: 1vh 1vw;
  cursor: pointer;
  color: white;
}

nav img{
  width: 4vw;
}

.logo{
  height: 4vh;
}

.active-link{
  background-color: white;
  color: black;
  border-radius: 10px;
}